body {
    background-color: rgb(202, 129, 141);
}

.btn {
    margin: 10px;
}

canvas {
    transition: all 1.0s ease;
    transform: scale(1.1);
    animation: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

canvas:hover {
    cursor: pointer;
    border: 2px solid black;
}

@keyframes anime {
    from {
        box-shadow: 1px 1px 20px red;
        /* transform: scale(1.1); */
    }
    to {
        box-shadow: 1px 1px 20px yellow;
        /* transform: scale(); */
    }
}